<i class="dropdown icon">⌵</i>
<div class="text">{{def_value}}</div>

{{#if active}}
  <div class="menu showdiv">
    {{#each model as |item|}}
        <div class="item {{item.key}}" {{action 'change' item}}>{{item.value}}</div>
    {{/each}}
  </div>
{{/if}}
