<i class="dropdown icon">⌵</i>
<div class="text">{{def_value}}</div>

<div class="menu">
  {{#each model as |item|}}
      <div class="item" data-value="{{item.value}}" {{action 'change' item}}>{{item.value}}</div>
  {{/each}}
</div>
