<i class="dropdown icon">⌵</i>
<div class="text">{{selected_value}}</div>

{{#if isActive}}
  <div class="menu showdiv">
    {{#each model as |item|}}
        <div class="item {{item.id}}" {{action 'change' item}}>{{item.value}}</div>
    {{/each}}
  </div>
{{/if}}
