<div class="ui left corner labeled input">
    {{input type="text" placeholder="Enter Folder Name..." value=params.name}}
    <div class="ui left corner label">
        <i class="asterisk icon"></i>
    </div>
</div>
