<div class="header">
    <span>{{dialogObject.title}}</span>
</div>
<div class="content">
    {{yield object}}
</div>
<div class="button-container">
    <button class="ui green button" {{action 'success'}}>OK</button>
    <button class="ui button" {{action 'cancel'}}>Cancel</button>
</div>
