
// ---------------- CUSTOM-FIELDS RELATED STYLES

.cf-dd{
        min-height: 0 !important;
}

.cf-dd-list{
        margin-top: -16px;
}

.fright{
        float: right;
}

.hidediv{
        display: none !important;
}

.showdiv{
        display: inline-block !important;
}

.cf-dd-list li:hover{
        font-size: 17px;
        color: chocolate;
}
