
// ---------------- CUSTOM-FIELDS RELATED STYLES

.cf-dd{
        border: 1px solid #cccccc;
        padding: 5px 15px;
        width: 200px;
        line-height: 22px;
        margin: 15px 30px;
        cursor: pointer;
}

.cf-dd-list{
        margin-top: -16px;
}

.fright{
        float: right;
}

.hidediv{
        display: none;
}

.showdiv{
        display: inline-block;
}

.cf-dd-list li:hover{
        font-size: 17px;
        color: chocolate;
}
