
.ui.message{
  padding-right: 10em;
  min-height: 393px;
  width: 961px;
  box-sizing: border-box;
  font-size: 1rem;
}

.ui.selection.active.dropdown:hover, .ui.selection.active.dropdown:hover .menu {
    border-color: #96c8da;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
}
.ui.active.selection.dropdown {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.Ndiv{
  margin:160px 0px 0px 431px;
  height: 30px;
  width: 200px;
  border:1px solid;
  text-align: center;
  padding: 10px;
}
