# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

tests/integration/components/application-component-test.js

tests/integration/components/menuselection-component-test.js

tests/integration/components/submenu-component-test.js

tests/unit/mixins/menumixin-test.js

tests/unit/mixins/submenumixin-test.js
