<div class="progressbar-container">
    {{#each model as | item |}}
        {{progress-bar value=item.value size=item.size color=item.color label=item.label className=item.className showPercentInBar=item.showPercentInBar}}
    {{/each}}
</div>

