<span>Field type: </span>
<div class='selected-option cf-dd' {{action 'changeClass'}}>{{selected_type}}<span class='fright'>⌵</span></div>

{{cf-drop-down model=field_types class_name=dynamic_class change=(action 'changeClass')}}
