<div class="ui left corner labeled input {{if requiredService.isError 'error'}}">
    {{input type='text'
            value=(readonly requiredService.folderName)
            keyUp=(action 'updateFolderName' this)
            insert-newline=(action 'updateFolderName' target.value)}}
    <div class="ui left corner label">
        <i class="asterisk icon"></i>
    </div>
</div>
{{#if requiredService.isError}}
    <span class="{{if requiredService.isError 'error'}} message">{{requiredService.errorMessage}}</span>
{{/if}}
