<div class="ui left corner labeled input {{if requiredService.isError 'error'}}">

    <input type="text" placeholder="Enter Folder Name..." value="{{requiredService.folderName}}">
    <div class="ui left corner label">
        <i class="asterisk icon"></i>
    </div>
</div>
{{#if requiredService.isError}}
    <span class="{{if requiredService.isError 'error'}} message">{{requiredService.errorMessage}}</span>
{{/if}}
