<div class="ui icon input input-group datetimepicker" >
	<!-- {{input type="text"  readonly=true }}  -->
	<i class="calendar link icon datepickerbutton"></i>
	{{input type="text" readonly=false}}
 </div>
