<div class="bar" style="transition-duration: 300ms; width: {{value}}%;">
    {{#if showPercentInBar}}
        <div class="progress"> {{value}}%</div>
    {{/if}}
</div>
<div class="label">{{label}}</div>
