<!-- <div class="ui segment">
    <div class="ui active loader">
        <div class="ui large text loader">Loading</div>
    </div>
</div> -->
<div class="ui active small loader"></div>
<div class="ui active medium loader"></div>
<div class="ui active large loader"></div>
