<!-- Double click to <b>create a new folder</b>!!! -->
<div class="folderTreeContainer">
    <div class="folder-tree-container">
        {{folder-tree folderTreeList=model iconClass="my-folder-icon"}}
    </div>
    {{outlet}}
</div>
