
<div class="ui steps">
  <a class="active step">
    <i class="list layout icon"></i>
    <div class="content">
      <div class="title">Basic Menus </div>
      <div class="description"></div>
    </div>
  </a>
  <a class="step">
    <div class="content">
      <div class="title">Context Menus</div>
      <div class="description">Please Right Click <i class="pointing down icon"></i></div>

    </div>
  </a>
  <a class="step">
    <div class="content">
      <div class="title">More Menus</div>
      <div class="description">Please Click <i class="pointing down icon"></i></div>
    </div>
  </a>
</div>
{{menu-component menuNode=model content=model}}
