{{#ui-button type="black" clicked="showCreateFolderDialog"}}Create Folder Dialog{{/ui-button}}
{{#ui-button type="primary" clicked="showUploadDialog"}}Upload Dialog{{/ui-button}}
<div class="container">
    {{outlet}}
</div>
