<!-- <h2 id="title">Welcome to Ember</h2> -->
<!-- <header class="header-container">
    <div class="container-fluid">
    </div>
</header> -->
<div class="sidebar-wrapper">
    <div class="header-logo">
        <a >
            <div class="gitlab-text-container"><h3>Docs Components Demo</h3></div>
        </a>
    </div>
    <ul class="nav-sidebar">
        <li class="home">
            {{#link-to 'selection' }}
                <span> Selection </span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'foldertree' }}
                <span> Folder Tree </span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'foldertree.reopen' }}
                <span> Folder Tree (Reopen) </span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'menu' }}
                <span> Menus </span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dropdown' }}
                <span> Drop Down </span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'customfields' }}
                <span> Custom Fields </span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'rename' }}
                <span>Rename Action</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'tooltip' }}
                <span>Tool-Tip</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'preview' }}
              <span>Preview</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'notification' }}
              <span>Notification</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'progressbar' }}
              <span>ProgressBar</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'spinner' }}
              <span>Spinner</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dialog' }}
              <span>Dialog</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'eventbus' }}
              <span>Event Bus</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'service-example' }}
              <span>Serive Examples</span>
            {{/link-to}}
          </li>
          <!-- <li>
            {{#link-to 'date-picker' }}
              <span>Date Picker</span>
            {{/link-to}}
        </li> -->
    </ul>
</div>
<div class="content-wrapper">
    {{outlet}}
</div>
