<h2 id="title">Welcome to Ember</h2>
{{#link-to "components-demo" class="item"}}Components{{/link-to}}
<div class="ignored ui info message">
	Date Picker
</div>
<div class="ui form ">
	<div class="field">
		<label>Select Date</label>
		{{ui-date-picker
			locale="en"
			value=startDate
			minDate=startMinDate
			widgetPosition='right'
			saveOnChange=true
			position='right'
			dateFormatStr='LLLL'
		}}
	</div>
</div>
<div class="ignored ui info message">
	Model
</div>

<div class="ignored ui info message">
  Use promises on ModalManager.show or ModalManager.alert to handle OK or Cancel clicks.
</div>
{{#ui-button type="teal" clicked="showAlert"}}Show Alert{{/ui-button}}
{{#ui-button type="orange" clicked="showConfirm"}}Show Confirm{{/ui-button}}
{{#ui-button type="brown" clicked="showPrompt"}}Show Prompt{{/ui-button}}
{{#ui-button type="blue" clicked="showTemplateModal"}}Show Template Based Modal{{/ui-button}}
{{#ui-button type="yellow" clicked="showTemplateModalWithCustomFooter"}}Show Template Based Modal With Custom Footer{{/ui-button}}
{{#ui-button type="purple" clicked="showTemplateModalWithManualHide"}}Show Template Based Modal With Manual Hide{{/ui-button}}


<div class="ignored ui info message">
	Accordion
</div>

{{#ui-accordion class="styled"}}
  <div class="active title">
    <i class="dropdown icon"></i>
    What is a dog?
  </div>
  <div class="active content">
    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What kinds of dogs are there?
  </div>
  <div class="content">
    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How do you acquire a dog?
  </div>
  <div class="content">
    <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
    <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
  </div>
{{/ui-accordion}}


{{outlet}}
