<!-- <h2 id="title">Welcome to Ember</h2>
{{#link-to "components-demo" class="item"}}Components{{/link-to}} -->

<div class="ui grid">
<<<<<<< Updated upstream
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            {{#link-to 'selection' class='item'}} Selection {{/link-to}}
            {{#link-to 'foldertree' class='item'}} Folder Tree {{/link-to}}
            {{#link-to 'foldertree.reopen' class='item'}} Folder Tree (Reopen) {{/link-to}}
            {{#link-to 'customfields' class='item'}} Custom Fields {{/link-to}}
            {{#link-to 'rename' class='item'}} Rename Action {{/link-to}}
            {{#link-to 'tooltip' class='item'}} Tool Tip {{/link-to}}
        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui segment">
            {{outlet}}
        </div>
    </div>
</div>
=======
  <div class="four wide column">Test</div>
  <div class="four wide column">Test1</div>

</div>

<table class="ui celled table">
  <thead>
    <tr><th>Header</th>
    <th>Header</th>
    <th>Header</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <div class="ui ribbon label">First</div>
      </td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
  <tfoot>
    <tr><th colspan="3">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
</table>


<table class="ui celled striped table">
  <thead>
    <tr><th colspan="3">
      Git Repository
    </th>
  </tr></thead>
  <tbody>
    <tr>
      <td class="collapsing">
        <i class="folder icon"></i> node_modules asdf asdf asd f a
      </td>
      <td>Initial commit</td>
      <td class="right aligned collapsing">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> test
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> build
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="file outline icon"></i> package.json
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="file outline icon"></i> Gruntfile.js
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
  </tbody>
</table>

{{outlet}}
>>>>>>> Stashed changes
