<h3>Components</h3>
<ol>
    <li>
        {{#link-to "selection"}}Selection{{/link-to}}<br>
    </li>
    <li>
        {{#link-to "foldertree"}} Folder Tree {{/link-to}}
    </li>
    <li>
        {{#link-to "foldertree.reopen"}} Reopened Folder Tree Component {{/link-to}}
    </li>
    <li>
        {{#link-to "customfields"}}Custom fields{{/link-to}}
    </li>
    <li>
        {{#link-to "rename"}}Rename Action{{/link-to}}
    </li>
</ol>
