
<div class='cust_flds'>

  <h4> Custom Fields </h4>
  <hr>


  <div class="ui two column centered grid">

    <div class="column row">
      <div class="column fluid"> {{cf-label value='Field type'}}</div>
      <div class="column fluid">{{cf-drop-down model=ddController.field_types def_value=selected_field }}</div>
    </div>


    {{#each cfService.render_Obj as | field |}}
      <div class="column row">
        <div class="column fluid"> {{cf-label value=field.label}}</div>
        <div class="column fluid"> {{component field.type place_holder=field.text}}</div>
      </div>
    {{/each}}

  </div>

</div>
