<button class="positive ui button" {{action 'showDialog'}}>Show Dialog</button>

{{!--#ui-dialog serviceName="createfolder-dialogoptions"--}}
    {{!--component "create-folder"--}}
{{!--/ui-dialog--}}
