<br>
<br>
<div id="tooltip" data-position="bottom left" title="Bottom Left">Bottom Left</div>

<div id="toptip" data-title="Title" title="Default Bottom Center">
  Default
</div>

<div id="wide" title="Bottom Right" data-position="bottom right" data-variation="small">Bottom Right</div>

<br>
<br>
<br>
<br>
<br>
<br>



<div id="topright" title="Top Right" data-position="top right" data-variation="">Top Right</div>
<div id="top1" title="wide tooltip" data-position="top center" data-variation="tiny">Top Center</div>
<div id="top2" title="wide tooltip" data-position="top left" data-variation="mini">Top Left</div>

<br>
<br>
<br>
<br>
<br>
<br>


<div id="invert" title="Right Center" data-position="right center">Right Center</div>
<div id="tool" data-position="left center" title="Left Center">Left Center</div>



<div id="r1" title="Its already in right" data-title="Right Center" data-position="right center">Right Center</div>
<div id="r2" data-position="left center" title="Its already in right" data-title="Left Center">Left Center</div>



<!--
Positions for the Popup:

              'top left'      : false,
              'top center'    : false,
              'top right'     : false,
              'bottom left'   : false,
              'bottom center' : false,
              'bottom right'  : false,
              'left center'   : false,
              'right center'  : false
-->
<!--
    title= its must to tooltip
  1. data-title=An element can specify popup content with a title
  2. data-position = it using for customising our position
  3. data-variation = can vary in size
  4. data-content = displaying msg

 -->

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
<b>---------------Hover the label :)-------------------------------</b>
